
@import url("https://fonts.googleapis.com/css2?family=Bangers&display=swap");
@font-face {
    font-family: "Bangers";
    src: url(../fonts/Bangers-Regular.ttf);
}
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
@font-face {
    font-family: "Roboto";
    src: url(../fonts/Roboto-Medium.ttf);
}

* {
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: white;
}

html{
    max-width: 100vw;
    max-height: 100vh;
}

body {
    width: 100%;
    margin: 0px;
}

/* -------- HEADER -------- */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    height: 50px;
    font-family: "Bangers";
}


.github>img{
    width: 40px;
}

/* -------- MAIN -------- */

main {
    min-height: calc(100vh - 140px);
    margin: 20px; 
    font-family: "Roboto";
}
/* -------- FOOTER -------- */

footer {
    height: 50px;
    text-align: center;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: "Bangers";
    width: 100vw;
}

.flex-container-align-item-center{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.button{
    font-size: 1.2rem;
    background-color: #008ACC;
    border-radius: 20px;
    border: 2px solid #6bb3ff;
    cursor: pointer;
    padding: 5px;
}

.required{
    background-color: white;
    
}

form[name="login"],form[name="singup"],form[name="editarPerfil"]{
    display: flex;
    flex-flow: column;
    align-items: center;
    border: 6px solid black;
    padding: 40px;
    border-radius: 50px;
}

form[name="login"],form[name="singup"],form[name="editarPerfil"]{
    min-width:200px;
}
form[name="login"] *,form[name="singup"] *,form[name="editarPerfil"] *{
    font-size:1.5rem;
}

form[name="login"] div *,form[name="singup"] div *,form[name="editarPerfil"] div *{
    display: block;
    margin:5px;
    text-align: center
}

input[name="IniciarSesion"]{
    margin-left:auto;
}

form[name="login"] input,form[name="singup"] input,form[name="editarPerfil"] input{
    width:160px;
    border: none;
    border-bottom: 3px solid #545454;
    border-radius: 5px;
    margin: auto;
}

form[name="login"] span, form[name="singup"] span, form[name="editarPerfil"] span{
    font-size: 1rem; 
}

input[readonly=""]{
    background: none;
}

.logout{
    font-size: 1.2rem;
    background-color: white;
    border-radius: 7px;
    color: #616161;
    font-weight: bold;
    border: 4px solid white;
    margin-right: 6px;
    cursor: pointer;
}

.fixed{
    position: fixed;
    bottom: 0;
}

.idioma{
    font-size: 1.3rem;
    border: none;
    background: none;
    color: blue;
} 

form[name="formularioIdioma"]{
    position: absolute;
    top: 52px;
    right: 0;
}

#fotoPerfil{
    width: 50px;
}

#borrarUsuario{
    background-color: #fd849b;
    border-radius: 20px;
    border: 2px solid #f24646;
}


.main-container-inicio{
    font-size: 2rem;
    text-align: center;
}
.buttons-header-inicio {
    width: 500px;
    height: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.buttons-header-inicio *{
    margin: 6px 5px auto 5px;
}

.buttons-header-inicio #fotoPerfil{
    margin: 0 !important;
}
.button-inicio{
    font-size: 1.2rem;
    background-color: white;
    border-radius: 7px;
    color: #616161;
    font-weight: bold;
    border: 4px solid white;
    margin-right: 6px;
}

/* MIO */

body{
    background-color: seashell;
}

.error{
    color: red;
    font-weight: bold;
}

legend{
    color: black;
    font-weight: bold;
}

input{
    padding: 5px;
    border-radius: 10px;
}



fieldset{
    width: 15%;
    padding: 20px;
    border: 2px solid black;
    margin: 0 auto;
}

form{
    margin-bottom: 50px;
    cursor: pointer;
}

h3{
    text-align: center;
}

h1{
    background-color: black;
    margin: 0 auto;
    color: white;
}

.inicioSesion{
    background-color: black;
    margin-left: 49%;
    color: white;
}

table{
    border: 2px solid black;
    border-collapse: collapse;
    margin: 0 auto;
}

td{
    padding: 10px;
    width: 20%;
    border: 2px solid black;
}

th{
    border: 2px solid black;
    font-size: 1.3em;
}

.labelEditar{
    font-size: 0.7em;
    margin: 0 auto;
}

#aceptar, #cancelar{
    margin-top: 50px;
    color: black;
    border: 2px solid black;
    padding: 10px;
}

#aceptar{
    background-color: #EA5656;
}

#cancelar{
    background-color: #72BADA;
}

.articuloEditar{
    border: 2px solid black;
    border-radius: 15px;
    margin: 0 auto;
    width: 30%;
    padding: 25px;
}